# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.python-version

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Excel / output files
*.xlsx
*.xls
*.csv

# Dashboard
dashboard.html

# macOS
.DS_Store
